<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rnh.showmethecard.model.mapper.ChartMapper">
	<select id="dayChart" resultType="Member">
		SELECT 
			h.M_ID mId,
		    sum(h.point) mPoint, m.M_Level mLevel
		FROM MEMBER_HISTORY h, MEMBER m
		where m.M_ID = h.M_ID AND left(h.REG_DATE, 10) = curdate() AND m.USERTYPE = '0' AND m.deleted = '0'
		group by h.M_ID
		order by mPoint desc, mLevel desc limit 10
	</select>
	<select id="weekChart" resultType="Member">
		SELECT 
			h.M_ID mId,
    		sum(h.point) mPoint, m.M_Level mLevel
		FROM MEMBER_HISTORY h
		inner join MEMBER m
		on m.M_ID = h.M_ID
		where h.REG_DATE between (curdate() -7) and (curdate()+1) 
		AND m.USERTYPE = '0' AND m.deleted = '0'
		group by h.M_ID
		order by mPoint desc, mLevel desc limit 10
	</select>
	<select id="monthChart" resultType="Member">
		SELECT 
			h.M_ID mId,
    		sum(h.point) mPoint, m.M_Level mLevel
		FROM MEMBER_HISTORY h, MEMBER m
		where m.M_ID = h.M_ID AND substring(h.REG_DATE, 6, 2) = substring(curdate(), 6,2) AND m.USERTYPE = '0' AND m.deleted = '0' 
		group by h.M_ID
		order by mPoint desc, mLevel desc limit 10
	</select>
	<select id="totalChart" resultType="Member">
		SELECT M_ID mId, M_POINT mPoint, M_Level mLevel
		FROM MEMBER
		WHERE USERTYPE = '0' AND deleted = '0'
		order by mPoint desc, mLevel desc limit 10	
	</select>
	
	<select id="dayCard" resultType="Card">
		SELECT c.CARD_NO cardNo, left(c.C_NAME,30) cName, sum(h.CH_POINT) cPoint, c.SITE_URL siteUrl, c.DISCOVERER discover, c.IMG_SRC imgSrc
		FROM CARD_DB c, CARD_HISTORY h
		WHERE c.CARD_NO = h.CARD_NO AND left(h.REG_DATE, 10) = curdate() AND c.deleted = '0'
		group by c.CARD_NO
		order by cPoint desc limit 5		
	</select>
	<select id="weekCard" resultType="Card">
		SELECT c.CARD_NO cardNo, left(c.C_NAME,30) cName, sum(h.CH_POINT) cPoint, c.SITE_URL siteUrl, c.DISCOVERER discover, c.IMG_SRC imgSrc
		FROM CARD_DB c 
		inner join CARD_HISTORY h
		on c.CARD_NO = h.CARD_NO
		where h.REG_DATE between (curdate() -7) and (curdate()+1) AND c.deleted = '0'
		group by c.CARD_NO
		order by cPoint desc limit 5
	</select>
	<select id="monthCard" resultType="Card">
		SELECT c.CARD_NO cardNo, left(c.C_NAME,30) cName, sum(h.CH_POINT) cPoint, c.SITE_URL siteUrl, c.DISCOVERER discover, c.IMG_SRC imgSrc
		FROM CARD_DB c, CARD_HISTORY h
		WHERE c.CARD_NO = h.CARD_NO AND substring(h.REG_DATE, 6, 2) = substring(curdate(), 6,2) AND c.deleted = '0'
		group by c.CARD_NO
		order by cPoint desc limit 5
	</select>
	<select id="totalCard" resultType="Card">
		SELECT CARD_NO cardNo, left(C_NAME,30) cName, SITE_URL siteUrl, C_POINT cPoint, DISCOVERER discover, IMG_SRC imgSrc
		FROM CARD_DB
		order by C_POINT desc limit 5
	</select>
</mapper>



