<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 패키지.클래스이름을 의미 -->
<mapper namespace="com.rnh.showmethecard.model.mapper.NoticeMapper">

 	<select id="SelectNoticeList" resultType="Notice" parameterType="int">
	
		SELECT n_no nNo, title title, content content, m_id mId, reg_date regDate

		FROM NOTICE
		
		WHERE deleted = '0'
		
	</select>
	
	<insert id="InsertNotice" parameterType="Notice">
	
		INSERT INTO NOTICE
		(TITLE, CONTENT, M_ID)
		VALUES (#{title}, #{content}, #{mId})	
		
	</insert>
	
	
	
	<update id="DeleteNotice" parameterType="Notice">
	
		UPDATE NOTICE
		SET deleted = '1', TITLE = #{title}
		WHERE N_NO = #{nNo}			
		
	</update>
	 
	
	<update id="UpdateNotice" parameterType="Notice">
	
		UPDATE NOTICE
		SET TITLE = #{title}, CONTENT = #{content}
		WHERE N_NO = #{nNo}	
		
	</update>	
	
	
	
	<select id="SelectNoticeDetail" parameterType="int" resultType="Notice">
	
		SELECT n_no nNo, title title, content content, m_id mId, reg_date regDate

		FROM NOTICE
		
		WHERE n_no = #{nNo}
		
	</select>

</mapper>



