<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 패키지.클래스이름을 의미 -->
<mapper namespace="com.rnh.showmethecard.model.mapper.SearchMapper">

 	<select id="memberSearch" resultType="Member" parameterType="String">
	 	select m.M_Level mLevel, m.M_ID mId
		from MEMBER m, FOLDER f, F_TAG ft
		where m.M_ID = f.M_ID and f.F_NO = ft.F_NO
		and (ft.FT_NAME1 like concat('%',#{fName},'%') or ft.FT_NAME2 like concat('%',#{fName},'%') or ft.FT_NAME3 like concat('%',#{fName},'%'))
	    order by m.M_POINT, f.F_POINT desc
 	</select>
 	
 	<select id="memberSearchCount" resultType="int">
		SELECT COUNT(*) AS COUNT
		FROM MEMBER
		WHERE deleted = '0'
	</select>	

</mapper>



